/* SearchBar.css */

.searchbar {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 90px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 8px;
  }
  
  .search-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
  }
  
  .search-btn {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  